.schedule {
	display: flex;
	flex-direction: row;
	justify-items: center;

	/* flex-wrap: wrap-reverse; */

	max-height: 100vh;
	/* overflow: auto; */
}

.message-wrapper {
	width: 60vw;
	margin: 0 auto;
	margin-top: 2rem;
}
