.schedule {
	max-height: 100vh;
	overflow: auto;
}

.message-wrapper {
	width: 60vw;
	margin: 0 auto;
	margin-top: 2rem;
}

.controls {
	margin: 1rem 0;
}

.locale-input {
	margin-bottom: 1rem;
	min-width: fit-content !important;
}

.mobile-sidebar {
	background-color: gainsboro;
}

.sidebar-toggle {
	margin: 5px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-items: center;
}

#mobile-bar {
	padding-bottom: 0 !important;
}

#match-list-column {
	padding: 1rem;
}

@media (max-width: 768px) {
	#match-list-column {
		padding: 0 !important;
	}
}
