.bar {
	display: flex;
}

.settings-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

.settings-wrapper > * {
	margin: 0 10px 1rem 0 !important;
	max-width: 8rem;
}

.toggle-sidebar {
	display: none !important;
}

@media (max-width: 767px) {
	.toggle-sidebar {
		display: initial !important;
	}

	.settings-wrapper {
		flex-grow: 2;
		justify-content: flex-end;
	}

	.settings-wrapper > * {
		margin: 0 5px 0 0 !important;
		align-self: center;
	}

	.toggle-sidebar {
		margin: 0 auto 0 0 !important;
	}
}
