.match-list {
    height: 100%;
    border-radius: 5px;
    overflow-y: auto;
}

.block {
    border-radius: 5px;
    margin: 1rem 0;
    box-shadow: 0 0 10px 0 rgba(0, 33, 36, 0.205);
}

.match-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

