.match-list {
	height: 100%;
	border-radius: 5px;
	overflow-y: auto;
	overflow-x: visible;
	border: none !important;
	box-shadow: none !important;
	margin-right: -1.1rem !important;
}

.block {
	overflow-x: visible;
	height: calc(100vh - 2rem);
	border-radius: 5px;
	margin: 1rem 0;
	box-shadow: 0 0 10px 0 rgba(0, 33, 36, 0.305);
}

.match-list::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.empty-list {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

@media (max-width: 767px) {
	.block {
		margin: 0;
		height: calc(100vh - 42px);
	}
}
