.message-wrapper {
	margin-top: 2rem;
}

#controls {
	margin: 1rem 0;
	height: 100vh;
	display: flex !important;
	flex-direction: column;
}

#match-list-column {
	padding: 1rem;
}

@media (max-width: 767px) {
	#controls {
		height: initial;
		padding: 5px !important;
		margin-top: 1rem !important;
	}

	#match-list-column {
		padding: 0 !important;
	}
}
