.match {
	background-color: white;
	width: calc(100% - 1.1em) !important;
	max-height: calc(100% / 4);
}

.teams {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	padding-top: 5px;
}

.devider {
	flex-grow: 1;
	width: 80px;
	text-align: center;
	margin: 0;
}

.home-team {
	flex-grow: 2;
	font-size: 1.3em;
	display: inline;
	width: 300px;
	text-align: right;
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.home-team::after {
	content: '';
	padding-right: 20px;
}

.away-team {
	flex-grow: 2;
	font-size: 1.3em;
	display: inline;
	width: 300px;
	text-align: left;
	margin: 0;
	text-indent: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	white-space: nowrap;
}

.day-label {
	position: absolute !important;
	left: calc(100% + 1.2em) !important;
}

.league-logo {
	position: relative;
	left: calc(100% - 2rem);
}

.team-logo {
	width: calc(35px + 3.2vw);
}

.date-labels-container {
	box-shadow: none;
	background-color: transparent;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	transition: ease all 0.2s;
}

@media (max-width: 768px) {
	.labels .label {
		font-size: 0.7em !important;
	}

	.teams {
		padding-bottom: 8px;
	}

	.match {
		padding-bottom: 5px !important;
		padding-top: 5px !important;
	}

	.league-logo {
		display: none;
	}

	.away-team,
	.home-team {
		font-size: 0.9em;
	}
}
