.match {
    background-color: white;
    width: calc(100% - 1.1vw) !important;
    min-height: 25%;
    padding: 1vw !important;
}

.teams {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.devider {
    width: 5.5vw;
    font-size: 1.5vw;
    text-align: center;
    margin: 0;
}

.home-team {
    font-size: 1.5vw;
    display: inline;
    width: 20vw;
    text-align: right;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 2vw;
}

.home-team::after {
    content: "";
    padding-right: 20px;
}

.away-team {
    font-size: 1.5vw;
    display: inline;
    width: 20vw;
    text-align: left;
    margin: 0;
    text-indent: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    line-height: 2vw;
}

.team-logo {
    width: 5.5vw;
}

.day-label {
    position: absolute !important;
    left: calc(100% + 1.1vw) !important;
    font-size: 0.9vw !important;
}

.league-logo {
    width: 1.8vw;
    position: relative;
    left: 95%;
}

.date-labels-container {
    box-shadow: none;
    background-color: transparent;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: ease all .2s;
}

.date-label {
    font-size: 0.9vw !important;
}