.team-tab-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2px 0;
}

.check-box-tab-content {
    width: 1vw;
}

.team-name-tab-content {
    padding-left: 0.5vw;
    font-size: 1vw;
}